/* navbar css */
body{
    line-height: 1.5;
    font-weight: 400;
}
*{
    margin: 0;
    box-sizing: border-box;
}
:before,:after{
    box-sizing: border-box;
}
.nav-container{
    max-width: 1400px;
    margin: auto;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>a>img{
    width: 53px;
    height: 36px;
}
#nav-img>img{
  width: 530px;
  height: 440px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.v-center{
    align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* header */
.header{
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header .item-left{
    flex: 0 0 8%;
}
/* .header .logo a{
    font-size: 30px;
    color: #000000;
} */
.header .item-center{
    flex: 0 0 50%;
}
.header .item-right{
    flex: 0 0 22%;
    display: flex;
    justify-content: flex-end;
}
.header .item-right a{
    text-decoration: none;
    font-size: 16px;
    color: #555555;
    display: inline-block;
    margin-left: 10px;
    transition: color 0.3s ease;
}
.header .menu>ul>li{
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}
.header .menu>ul>li>a{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.header .menu>ul>li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}
@media(min-width:992px){
.header .menu>ul>li.menu-item-has-children:hover .sub-menu{
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}
}
.header .menu>ul>li .sub-menu>ul>li{
    line-height: 1;
}
.header .menu>ul>li .sub-menu>ul>li>a{
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: capitalize;
}
.header .menu>ul>li .single-column-menu{
    min-width: 100px;
    /* max-width: 300px; */
}
.header .menu>ul>li .sub-menu.mega-menu > .list-item>ul>li{
  line-height: 1;
  display: block;
}
.header .menu>ul>li .sub-menu.mega-menu > .list-item>ul>li>a{
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
}
.header .menu>ul>li .sub-menu.mega-menu{
    left: 40%; 
    transform:translate(-50%);
    
}
.header .menu>ul>li .sub-menu.mega-menu-column-4{
    max-width: 1000px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}
.header .menu>ul>li .sub-menu.mega-menu-column-4 > .list-item{
    flex: 0 0 25%;
    padding: 0 15px;

}
.header .menu>ul>li .sub-menu.mega-menu-column-4 > .list-item .title{
    font-size: 17px;
    color: #ea4636;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
}
.header .menu>ul>li .sub-menu.mega-menu > .list-item>ul>li>a:hover,
.header .menu>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu>ul>li:hover>a{
    color: #ea4636;
}
#title-color{
    font-weight: bold;
}
#title-color-1{
    color: rgba(252, 3, 206, 0.825);
    font-weight: bold;
}
#title-color-2{
    color: orange;
    font-weight: bold;
}
#title-color-3{
    color: rgb(61, 218, 61);
    font-weight: bold;
}
#title-color-4{
    color: blueviolet;
    font-weight: bold;
}
#nav-icons>a{
    margin: 0px 15px;
}
#search-bar>input{
   width: 330px;
   padding: 5px;
   margin-left: -80px;
}
/* login css */
/* body {
    background-color: rgb(240, 224, 229);
    margin: 0px;
    padding: 0px;
} */

#login-main {
    height: auto;
    width: 400px;
    margin: auto;
    background-color: whitesmoke;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

#img>img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

#login-formdiv {
    padding: 26px 26px 26px;
}
#login-formdiv>div{
    background-color: plum;
}
#login-formdiv>div>h3{
margin: 10px;text-align: center; 
color: rgb(66, 57, 136);
}

#login-password,#login-email{
    width: 328px;
    height: 25px;
    border-radius: 5px;
    border-color: plum;
}

#lable-password,#lable-email{
    margin: 3px;
    color: rgb(242, 90, 115);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"

}
#login-button{
    text-align: center;
    width: 100px;
    font-size: large;
    display: block;
    margin: auto;
    border-radius: 5px;
    background-color: pink;
    border: 1px solid rgb(216, 143, 143);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategray;
    cursor: pointer;

}
#GoToSignup{
    margin-top: 30px;
    text-align: center;
    color: blue;
}